body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:24px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:854px;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:215px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:858px;
  height:215px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:854px;
  word-wrap:break-word;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:114px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:241px;
  width:605px;
  height:114px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:601px;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:58px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:241px;
  width:191px;
  height:58px;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:187px;
  word-wrap:break-word;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:68px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:357px;
  width:605px;
  height:68px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:601px;
  word-wrap:break-word;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:431px;
  width:858px;
  height:31px;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:854px;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:58px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:304px;
  width:191px;
  height:58px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:187px;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:58px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:367px;
  width:191px;
  height:58px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:187px;
  word-wrap:break-word;
}
