body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:24px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:854px;
  word-wrap:break-word;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:215px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:858px;
  height:215px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:854px;
  word-wrap:break-word;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:114px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:241px;
  width:605px;
  height:114px;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:601px;
  word-wrap:break-word;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:58px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:241px;
  width:191px;
  height:58px;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:187px;
  word-wrap:break-word;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:68px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:357px;
  width:605px;
  height:68px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:601px;
  word-wrap:break-word;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:431px;
  width:858px;
  height:31px;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:854px;
  word-wrap:break-word;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:58px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:304px;
  width:191px;
  height:58px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:187px;
  word-wrap:break-word;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:58px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:367px;
  width:191px;
  height:58px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:187px;
  word-wrap:break-word;
}
