body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:542px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:25px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:538px;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:154px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:331px;
  height:154px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:327px;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:154px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:25px;
  width:164px;
  height:154px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:160px;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:144px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:184px;
  width:164px;
  height:144px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:160px;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:144px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:184px;
  width:164px;
  height:144px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:160px;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:144px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:184px;
  width:164px;
  height:144px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:160px;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:144px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:332px;
  width:164px;
  height:144px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:160px;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:144px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:332px;
  width:164px;
  height:144px;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:160px;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:144px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:332px;
  width:164px;
  height:144px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:160px;
  word-wrap:break-word;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:481px;
  width:542px;
  height:35px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:538px;
  word-wrap:break-word;
}
