body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:707px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:27px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:703px;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:162px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:27px;
  width:431px;
  height:162px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:427px;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:162px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:27px;
  width:213px;
  height:162px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:209px;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:162px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:192px;
  width:431px;
  height:162px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:427px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:162px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:192px;
  width:213px;
  height:162px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:209px;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:81px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:359px;
  width:367px;
  height:81px;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:363px;
  word-wrap:break-word;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:38px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:359px;
  width:235px;
  height:38px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:231px;
  word-wrap:break-word;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:38px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:403px;
  width:235px;
  height:38px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:231px;
  word-wrap:break-word;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:448px;
  width:707px;
  height:37px;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:703px;
  word-wrap:break-word;
}
